//COLOR 
$mainColor :#FC614A;
$mainColor1 : #ce3017;
$colorGray : #9b9b9b;

//FONTSIZE
$fs :14px;
$fs1 : 18px;
$fs2: 20px;
$fs3 :22px;
$fs4 : 24px;

// FONT-WEIGHT
$fw-bolder :800;
$fw-bold: 700;
$fw-medium: 600;
$fw-regular: 400;
$fw-light :300;