* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;

}
body,
html {
  font-family: 'Roboto', sans-serif;

}
ol,
ul {
  list-style: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
