.footer {
  background-color: #222222;
  min-height: 100px;
  &__detail1 {
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #fff;
    .footer__top-item {
      margin-top: 20px;
      h4 {
        font-size: 13px;
        color: #fff;
        font-weight: 300;
        letter-spacing: 0
      }
      .footer__item-title {
        i {
          font-size: 16px;
        }
        font-size: 11px;
        color: #9b9b9b;
        font-weight: 600;
        letter-spacing: 0;
      }
      img {
        width: 30px;
        margin-right: 30px;
      }
    }
  }
  img {
    width: 60px;
    border-radius: 5px;
    // @include Mediaquery($md) {
    //     margin-bottom: 10px;
    // }
    // @include Mediaquery($sm) {
    //     margin: 15px;
    // }
}
}
